@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import 'reset';
//@import url('https://use.fontawesome.com/releases/v5.0.13/js/all.js');


body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100vh;
  //background-color: rgba(0,0,0, .1);
}

.container {
  width: 90%;
  margin: 0 auto;
}


